In [1]:
#create tuple in integer
tup=(1,2,3)
print(tup)

(1, 2, 3)

In [2]:
#create tuple in string
tup_str=("a","b","c")
print(tup_str)

('a', 'b', 'c')

In [4]:
#Mixed tuple
tup_mix=("a",1,3.4,True)
print(tup_mix)
print(type(tup_mix))

('a', 1, 3.4, True)
<class 'tuple'>

In [7]:
#Single element will print the data type of tuple
x=("a")
print(type(x))

<class 'str'>

In [10]:
#Reverse order
tup_mix=("a",1,3.4,True)
print(tup_mix[::-1])

(True, 3.4, 1, 'a')

In [21]:
#Changing tuple to list to change the element then convert to list
tup_mix=("a",1,3.4,True)
tup_list=list(tup_mix)
tup_list[2]="xyz"
tup_list=tuple(tup_list)
print("Original List",tup_mix)
print("After changing tuple to list",tup_list)

Original List ('a', 1, 3.4, True)
After changing tuple to list ('a', 1, 'xyz', True)

In [24]:
#Adding element to tuple
tup_mix=("a",1,3.4,True)
tup_list=list(tup_mix)   #converting to list
tup_list[2]="xyz"        #changing value
tup_list.append("new")   #Adding new value
tup_list=tuple(tup_list)
print("Original List",tup_mix)
print("After Adding new element",tup_list)

Original List ('a', 1, 3.4, True)
After Adding new element ('a', 1, 'xyz', True, 'new')

In [1]:
#Accessig Strings

In [19]:
a="Hello World!"
print(a[2:5])
print(len(a))
print(a[::-1])
print(a[-6:-1])

llo
12
!dlroW olleH
World

In [18]:
#Modify Strings

In [20]:
a="Hello World!"
print(a.upper())
print(a.lower())

HELLO WORLD!
hello world!

In [21]:
a=" Hello World! "
print(a.strip())

Hello World!

In [23]:
a="Hello"
b="World!"
print(a+b)
print(a+" "+b)

HelloWorld!
Hello World!

In [24]:
#formatting
a=36
text="My age is "+a       #concatenation cannot be done for string and numerical
print(text)

TypeError: can only concatenate str (not "int") to str

In [26]:
a=36
text="My age is {}"
print(text.format(a))

My age is 36

In [27]:
age=36
print(f"My age is {age}")

My age is 36

In [35]:
qty=3
amt=10
item_no="A01"
text="{} item no having price of Rs {}.\nI want {} Quantity"
print(text.format(item_no,amt,qty))

A01 item no having price of Rs 10.
I want 3 Quantity

In [5]:
txt="I love apples. apple is my favourate fruit"
print(txt.count("apple"))
print(txt.count("apple",10,20))

2
1

In [17]:
txt="Hello, welcome to my world!"
print(txt.find("welcome"))
print(txt.find("wecome"))
print(txt.index("welcome"))

7
-1
7

In [12]:
txt="hello world"
print(txt.capitalize())
print(txt.title())

Hello world
Hello World

In [15]:
txt="hello, world you have, entered into the new, world"
print(txt.split())
print(txt.split(","))

['hello,', 'world', 'you', 'have,', 'entered', 'into', 'the', 'new,', 'world']
['hello', ' world you have', ' entered into the new', ' world']

In [24]:
txt="hello world"
words=txt.split()
print(words)
print("-".join(words))

['hello', 'world']
hello-world

In [30]:
txt="I love banana"
print(txt.replace("banana","apples"))

I love apples

In [33]:
txt="I love banana"
print(txt.partition(" "))

('I', ' ', 'love banana')