In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv(r"C:\Users\upadh\Downloads\wines_SPA.csv")
df

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Espana,Rioja,19.98,Rioja Red,4.0,3.0
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Espana,Priorato,16.76,Priorat Red,4.0,3.0
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,Espana,El Terrerazo,24.45,Red,4.0,3.0
7498,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,64.50,Ribera Del Duero Red,5.0,3.0
7499,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,31.63,Ribera Del Duero Red,5.0,3.0

In [8]:
#show top 10 rows of the dataset
df.head(10)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0
5,Vega Sicilia,Unico,1998,4.8,1209,Espana,Ribera del Duero,490.00,Ribera Del Duero Red,5.0,3.0
6,Vega Sicilia,Unico,2010,4.8,1201,Espana,Ribera del Duero,349.00,Ribera Del Duero Red,5.0,3.0
7,Vega Sicilia,Unico,1995,4.8,926,Espana,Ribera del Duero,810.89,Ribera Del Duero Red,5.0,3.0
8,Vega Sicilia,Unico Reserva Especial Edicion,2015,4.8,643,Espana,Ribera del Duero,345.00,Ribera Del Duero Red,5.0,3.0
9,Vega Sicilia,Unico,2011,4.8,630,Espana,Ribera del Duero,315.00,Ribera Del Duero Red,5.0,3.0

In [9]:
#show last 10 rowa of the dataset
df.tail(10)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
7490,Binigrau,Nounat,2020,4.2,404,Espana,Mallorca,19.90,NaN,NaN,NaN
7491,Ramon Bilbao,Mirto,2011,4.2,402,Espana,Rioja,28.53,Rioja Red,4.0,3.0
7492,Matsu,El Viejo,2019,4.2,400,Espana,Toro,27.89,Toro Red,5.0,3.0
7493,Artadi,Valdegines,2016,4.2,398,Espana,Vino de Espana,48.96,Tempranillo,4.0,2.0
7494,Contino,Rioja Graciano,2011,4.2,395,Espana,Rioja,61.94,Rioja Red,4.0,3.0
7495,Contino,Reserva,2016,4.2,392,Espana,Rioja,19.98,Rioja Red,4.0,3.0
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Espana,Priorato,16.76,Priorat Red,4.0,3.0
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,Espana,El Terrerazo,24.45,Red,4.0,3.0
7498,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,64.50,Ribera Del Duero Red,5.0,3.0
7499,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,31.63,Ribera Del Duero Red,5.0,3.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

In [11]:
df.shape

(7500, 11)

In [13]:
df[(df["type"]=="Red")&(df["rating"]>=4.5)]

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
18,Bodegas El Nido,El Nido,2018,4.8,217,Espana,Jumilla,195.627380,Red,4.0,3.0
43,Descendientes de J. Palacios,La Faraona Bierzo (Corullon),2017,4.8,26,Espana,Bierzo,1098.900000,Red,4.0,3.0
70,Bodegas El Nido,El Nido,2014,4.7,511,Espana,Jumilla,154.900000,Red,4.0,3.0
71,Bodegas El Nido,El Nido,2013,4.7,476,Espana,Jumilla,145.000000,Red,4.0,3.0
74,Bodegas El Nido,El Nido,2016,4.7,393,Espana,Jumilla,371.780098,Red,4.0,3.0
75,Bodegas El Nido,El Nido,2008,4.7,347,Espana,Jumilla,134.190000,Red,4.0,3.0
85,Bodegas El Nido,El Nido,2017,4.7,268,Espana,Jumilla,154.850000,Red,4.0,3.0
124,Bodegas El Nido,El Nido,2019,4.7,80,Espana,Jumilla,145.900000,Red,4.0,3.0
136,Clos Erasmus,Daphne Glorian Red,2007,4.7,51,Espana,Priorato,202.010000,Red,4.0,3.0
151,Terra Remota,Usted,2010,4.7,31,Espana,Emporda,379.000000,Red,4.0,3.0
210,Casa Castillo,Cuvee N Vinas Viejas,2015,4.6,160,Espana,Jumilla,73.000000,Red,4.0,3.0
225,Vinas del Vero,Blecua Somontano,2013,4.6,135,Espana,Somontano,69.900000,Red,4.0,3.0
278,Marques de Grinon,AAA,2008,4.6,63,Espana,Dominio de Valdepusa,162.380000,Red,4.0,3.0
289,Anima Negra,Son Negre,2007,4.6,51,Espana,Mallorca,282.650000,Red,4.0,3.0
294,La Legua,Capricho,2014,4.6,47,Espana,Cigales,27.269343,Red,4.0,3.0
300,Bodegas 6o Elemento - Vino Sexto Elemento,Respeto,2015,4.6,45,Espana,Utiel-Requena,29.350000,Red,4.0,3.0
328,Huerta de Albala,Taberner No. 1,2013,4.6,32,Espana,Cadiz,79.900000,Red,4.0,3.0
330,Castell d'Encus,Saktih,2013,4.6,30,Espana,Costers del Segre,195.270000,Red,4.0,3.0
331,Abadia Retuerta,Cuvee Palomar,2017,4.6,30,Espana,Sardon de Duero,58.900000,Red,4.0,3.0
334,Bodegas 6o Elemento - Vino Sexto Elemento,Respeto,2017,4.6,29,Espana,Utiel-Requena,29.950000,Red,4.0,3.0
335,Enate,Uno Tinto,2010,4.6,28,Espana,Somontano,129.900000,Red,4.0,3.0
338,Descendientes de J. Palacios,La Faraona Bierzo (Corullon),2010,4.6,28,Espana,Bierzo,3119.080000,Red,4.0,3.0
339,Bodegas Aragonesas,Galiano Seleccion Especial,2013,4.6,28,Espana,Campo de Borja,99.950000,Red,4.0,3.0
341,Anima Negra,Son Negre,2004,4.6,27,Espana,Mallorca,374.350000,Red,4.0,3.0
364,Bodegas El Nido,Clio,2015,4.5,2712,Espana,Jumilla,33.200000,Red,4.0,3.0
368,Bodegas El Nido,Clio,2016,4.5,2228,Espana,Jumilla,31.750000,Red,4.0,3.0
369,Bodegas El Nido,Clio,2017,4.5,2220,Espana,Jumilla,39.500000,Red,4.0,3.0
374,Bodegas El Nido,Clio,2018,4.5,1520,Espana,Jumilla,61.849177,Red,4.0,3.0
400,Bodegas El Nido,Clio,2019,4.5,550,Espana,Jumilla,47.300000,Red,4.0,3.0
425,Abadia Retuerta,Petit Verdot,2015,4.5,286,Espana,Sardon de Duero,107.900000,Red,4.0,3.0
428,Abadia Retuerta,Petit Verdot,2014,4.5,249,Espana,Sardon de Duero,176.980000,Red,4.0,3.0
451,Familia Torres,Grans Muralles,2015,4.5,189,Espana,Conca de Barbera,170.500000,Red,4.0,3.0
469,Marques de Grinon,Emeritvs (Emeritus),2013,4.5,147,Espana,Dominio de Valdepusa,48.900000,Red,4.0,3.0
484,Anima Negra,Son Negre,2011,4.5,121,Espana,Mallorca,228.900000,Red,4.0,3.0
509,Bodega Ribas,Ribas de Cabrera,2018,4.5,94,Espana,Mallorca,68.405972,Red,4.0,3.0
515,Cervoles,Estrats,2009,4.5,81,Espana,Costers del Segre,59.820000,Red,4.0,3.0
516,Anima Negra,Son Negre,2016,4.5,81,Espana,Mallorca,164.900000,Red,4.0,3.0
520,Familia Torres,Grans Muralles,2000,4.5,81,Espana,Conca de Barbera,125.050000,Red,4.0,3.0
553,Dehesa del Carrizal,Coleccion Privada,2017,4.5,59,Espana,Dehesa del Carrizal,26.900000,Red,4.0,3.0
557,Marques de Grinon,AAA,2004,4.5,56,Espana,Dominio de Valdepusa,141.200000,Red,4.0,3.0
563,Enate,Reserva Especial,2006,4.5,53,Espana,Somontano,65.900000,Red,4.0,3.0
572,Valquejigoso,V2 Tinto,2009,4.5,49,Espana,Madrid,43.683898,Red,4.0,3.0
583,Anima Negra,Son Negre,2005,4.5,42,Espana,Mallorca,200.000000,Red,4.0,3.0
587,Clos d'Agon,Seleccion Especial,2015,4.5,40,Espana,Cataluna,93.510000,Red,4.0,3.0
589,Huerta de Albala,Taberner No. 1,2011,4.5,38,Espana,Cadiz,75.000000,Red,4.0,3.0
594,Dehesa del Carrizal,Petit Verdot,2018,4.5,36,Espana,Dehesa del Carrizal,20.150000,Red,4.0,3.0
595,Descendientes de J. Palacios,La Faraona Bierzo (Corullon),2015,4.5,36,Espana,Bierzo,1373.660000,Red,4.0,3.0
605,El Regajal,Galia Clos Santuy,2016,4.5,32,Espana,Castilla y Leon,89.000000,Red,4.0,3.0
609,Abadia Retuerta,Petit Verdot,2004,4.5,31,Espana,Sardon de Duero,160.810000,Red,4.0,3.0
619,Anayon,Garnacha Parcela 81 Vinas Viejas,2017,4.5,28,Espana,Carinena,54.900000,Red,4.0,3.0
620,Castell d'Encus,Saktih,2016,4.5,28,Espana,Costers del Segre,132.950000,Red,4.0,3.0
622,Sierra Salinas,Salinas 1237,2014,4.5,28,Espana,Alicante,53.250000,Red,4.0,3.0
625,Cerro San Cristobal,Dominio del Verso Red Blend,2018,4.5,27,Espana,Condado de Huelva,29.500000,Red,NaN,NaN

In [7]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7495     True
7496     True
7497     True
7498     True
7499     True
Length: 7500, dtype: bool

In [14]:
df.sort_values("body",ascending=False)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
7499,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,31.63,Ribera Del Duero Red,5.0,3.0
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
7498,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,64.50,Ribera Del Duero Red,5.0,3.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7440,Binigrau,Nounat,2020,4.2,404,Espana,Mallorca,19.90,NaN,NaN,NaN
7462,Ramon do Casar,Treixadura,2020,4.2,407,Espana,Ribeiro,11.95,NaN,NaN,NaN
7465,Binigrau,Nounat,2020,4.2,404,Espana,Mallorca,19.90,NaN,NaN,NaN
7487,Ramon do Casar,Treixadura,2020,4.2,407,Espana,Ribeiro,11.95,NaN,NaN,NaN
7490,Binigrau,Nounat,2020,4.2,404,Espana,Mallorca,19.90,NaN,NaN,NaN

In [15]:
df.describe()

            rating   num_reviews        price         body      acidity
count  7500.000000   7500.000000  7500.000000  6331.000000  6331.000000
mean      4.254933    451.109067    60.095822     4.158427     2.946612
std       0.118029    723.001856   150.356676     0.583352     0.248202
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.200000    389.000000    18.900000     4.000000     3.000000
50%       4.200000    404.000000    28.530000     4.000000     3.000000
75%       4.200000    415.000000    51.350000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

In [16]:
df.isnull().sum()

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [19]:
#use describe()for specific column
df[['wine','price','rating']]

                 wine   price  rating
0               Tinto  995.00     4.9
1       Vina El Pison  313.50     4.9
2               Unico  324.95     4.8
3               Unico  692.96     4.8
4               Unico  778.06     4.8
...               ...     ...     ...
7495          Reserva   19.98     4.2
7496    Les Brugueres   16.76     4.2
7497  Finca Terrerazo   24.45     4.2
7498     Gran Reserva   64.50     4.2
7499         Preludio   31.63     4.2

[7500 rows x 3 columns]

In [23]:
df[df["wine"]=="AAA"]

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
278,Marques de Grinon,AAA,2008,4.6,63,Espana,Dominio de Valdepusa,162.38,Red,4.0,3.0
557,Marques de Grinon,AAA,2004,4.5,56,Espana,Dominio de Valdepusa,141.20,Red,4.0,3.0

DATA VISUALISATION :

#scatterplot: